-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: seguros_db
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `seguros_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `seguros_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_520_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `seguros_db`;

--
-- Table structure for table `aseguradoras`
--

DROP TABLE IF EXISTS `aseguradoras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aseguradoras` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_520_ci NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aseguradoras`
--

LOCK TABLES `aseguradoras` WRITE;
/*!40000 ALTER TABLE `aseguradoras` DISABLE KEYS */;
/*!40000 ALTER TABLE `aseguradoras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facturas`
--

DROP TABLE IF EXISTS `facturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facturas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `asunto` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `estado` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `fecha_recepcion` datetime(6) DEFAULT NULL,
  `nombre_archivo` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `remitente` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `ruta_archivo` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `aseguradora_id` bigint DEFAULT NULL,
  `nombre_archivo_adicional` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `fecha_envio` datetime(6) DEFAULT NULL,
  `fecha_factura` date DEFAULT NULL,
  `numero_factura` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `numero_orden` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `numero_siniestro` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `observaciones_admin` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKph6xo8jdqkblycklupb9o8uip` (`aseguradora_id`),
  CONSTRAINT `FKph6xo8jdqkblycklupb9o8uip` FOREIGN KEY (`aseguradora_id`) REFERENCES `aseguradoras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facturas`
--

LOCK TABLES `facturas` WRITE;
/*!40000 ALTER TABLE `facturas` DISABLE KEYS */;
/*!40000 ALTER TABLE `facturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_factura`
--

DROP TABLE IF EXISTS `historial_factura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_factura` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `detalle` varchar(500) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `estado_anterior` varchar(50) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `estado_nuevo` varchar(50) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `fecha_movimiento` datetime(6) DEFAULT NULL,
  `tipo` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `usuario` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `factura_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKsueor5aupqj0cw9uebpqu6ug6` (`factura_id`),
  CONSTRAINT `FKsueor5aupqj0cw9uebpqu6ug6` FOREIGN KEY (`factura_id`) REFERENCES `facturas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_factura`
--

LOCK TABLES `historial_factura` WRITE;
/*!40000 ALTER TABLE `historial_factura` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_factura` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `rol` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `sucursal` enum('RAFAELA','RECONQUISTA','SANTA_FE') COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'$2a$10$cajp/GixLOZIszmCbsQQ1uJ4WAC/OGzohnOqUqFoVG8l4R0QtAn4q','ADMIN',NULL,'admin'),(2,'$2a$10$wiYsj5Pgc1v4RWw/V/jVQ.JVPpf/WuM6sKyJMccPRPlxAlvs94fsO','PDV','SANTA_FE','pdv_santafe'),(3,'$2a$10$wiYsj5Pgc1v4RWw/V/jVQ.JVPpf/WuM6sKyJMccPRPlxAlvs94fsO','PDV','RAFAELA','pdv_rafaela'),(4,'$2a$10$wiYsj5Pgc1v4RWw/V/jVQ.JVPpf/WuM6sKyJMccPRPlxAlvs94fsO','PDV','RECONQUISTA','pdv_reconquista');
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'seguros_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-07  9:39:36
